.one_day_timetable {
    margin-left: 10px;
    margin-top: 10px;
    width: 320px;
    display: grid;
    grid-template-columns: 3fr 5fr;
    align-content: center;
}

.buttons {
    margin: 10px 10px 5px 10px;
}

.bordered {
    align-content: center;
    border: 1px solid black;
    padding: 10px;
}

.all_timetable {
    margin-left: 10px;
    margin-top: 10px;
    width: 1120px;
    display: grid;
    grid-template-columns: 3fr repeat(5, 5fr);
    align-content: center;
}